@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');
:root{
    --fonte1: 'Caveat', cursive;
    --fonte2: 'PT Sans Narrow', sans-serif;
    --fonte3: 'Almarai', sans-serif;
}

html, body{
   min-height: 100vh;
   background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    /* text-transform: uppercase; */
    font-variant: small-caps;
     font-size: 10vh;
     font-family: var(--fonte2);
}
header >p{
    padding-bottom: 50px;
    
}
section{
    padding-top: 10vh;
    padding-bottom: 10px;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte1);
    font-size: 3.5vh;/*náo é a melhor forma*/
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.61);
    background-attachment: fixed;
}
section > p{
    padding: 10px;
}
section.imagem >p{
    background-color: rgba(0, 0, 0, 0.527);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 3px 0px black;
}
section.imagem#img01{
    background-image: url("/imagens/background001.jpg");
    background-position: right center;
    background-size:cover;
}
section.imagem#img02{
    background-image: url("/imagens/background002.jpg");
    background-position: right center;
    background-size:cover;  
}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
 /*a:hover{
    text-decoration: underline;
} é a mesma coisa com o de cima*/
footer{
    padding: 10px;
    background-color: black;
    text-align: center;
    color: white;
}